<h1>Editing Servicio</h1>

<%= render 'form', servicio: @servicio %>

<%= link_to 'Mostrar', @servicio, class: "btn btn-primary" %> |
<%= link_to 'Atras', servicios_path , class: "btn btn-secondary"%>
