<%= render 'layouts/contenedor_menu' %>
<h1><i class="fas fa-map-marked-alt"></i> Editar Proveedor</h1>

<%= render 'form', proveedor: @proveedor %>

<%= link_to 'Mostrar', @proveedor, class: "btn btn-primary" %> |
<%= link_to 'Atras', proveedors_path, class: "btn btn-secondary" %>
