<h1>Editing Beneficio</h1>

<%= render 'form', beneficio: @beneficio %>

<%= link_to 'Mostrar', @beneficio , class: "btn btn-primary"%> |
<%= link_to 'Atras', beneficios_path , class: "btn btn-secondary"%>
